### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np 

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
player_count = purchase_data['Purchase ID'].count()
player_count

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = purchase_data["Item Name"].unique()
type (unique_items)
item_count = np.count_nonzero(unique_items)
item_count
round(item_count, ndigits=0)
print(f"Unique Item Total: {item_count}")

Unique Item Total: 179

In [5]:
avg_price = round(purchase_data["Price"].mean(), 2)
print(f"Average Price: ${avg_price}")

Average Price: $3.05

In [6]:
purchases = purchase_data["Purchase ID"]
purchase_count = np.count_nonzero(purchases)
purchase_count
print(f"Total Amount of Purchases: {purchase_count}")

Total Amount of Purchases: 779

In [7]:
total_revenue = purchase_data["Price"].sum()
total_revenue
print(f"Total Revenue: ${total_revenue}")
summary_categories = [total_revenue, purchase_count, avg_price, item_count]

Total Revenue: $2379.77

In [8]:
summary_table = pd.DataFrame({
    'Summary Table': ['Total Revenue','Total Purchases','Average Price','Unique Item Count'],
    '':summary_categories
})
summary_table.set_index('Summary Table', inplace=True)
summary_table.round(0)

Summary Table
Total Revenue      2380.0
Total Purchases     779.0
Average Price         3.0
Unique Item Count   179.0

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
gender_count = purchase_data["Gender"]
gender_count.value_counts()

male_count = 652
female_count = 113
other_count = 15

male_percent = round(male_count/780*100, 0)
female_percent = round(female_count/780*100, 0)
other_percent = round(other_count/780*100, 0)

print(f"Male Percentage: {male_percent}%, Male total {male_count}")
print(f"Female Percentage: {female_percent}%, Female total {female_count}")
print(f"Other Percentage: {other_percent}%, Other total {other_count}")

Male Percentage: 84.0%, Male total 652
Female Percentage: 14.0%, Female total 113
Other Percentage: 2.0%, Other total 15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# Using GroupBy in order to separate the data into fields according to "Gender" values
gender_df = purchase_data.groupby(["Gender"])
# In order to be visualized, a data function must be called
gender_df["Purchase ID"].count().head(10)

# Get total purchase value by gender
total_purchase_value = gender_df["Price"].sum()
total_purchase_value.head()
_total_purchase_value = total_purchase_value.map("${:,.2f}".format)
_total_purchase_value.head()

# Average purchase price by gender
avg_purchase_price = gender_df["Price"].mean()
avg_purchase_price.head()
_avg_purchase_price = avg_purchase_price.map("${:,.2f}".format)
_avg_purchase_price.head()

# Normalized totals, total purchase value divided by purchase count by gender
gender_totals = total_purchase_value/gender_df["Purchase ID"].count()
_gender_totals = gender_totals.map("${:,.2f}".format)
_gender_totals.head()

# Organize summary gender data, get all columns to organized Data Frame, add needed columns to it
org_df = pd.DataFrame(gender_df["Purchase ID"].count())
org_df["Average Purchase Price"] = _avg_purchase_price  
org_df["Total Purchase Value"] = _total_purchase_value 
org_df["Totals"] = gender_totals 
org_df

# Summary purchasing analysis DF grouped by gender
summary_gender_purchased_data_df = org_df.rename(columns={"Purchase ID":"Purchase Count"})
round(summary_gender_purchased_data_df,2)

,Purchase Count,Average Purchase Price,Total Purchase Value,Totals
Gender,,,,
Female,113,$3.20,$361.94,3.20
Male,652,$3.02,"$1,967.64",3.02
Other / Non-Disclosed,15,$3.35,$50.19,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
# Bins start 
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

# Create the names for the four bins
group_names = ["<11", "10-15", "15-20", "20-25", "25-30", "30-35", "35-40", "40+"]

aged_group_df = purchase_data
aged_group_df["Age Summary"] = pd.cut(aged_group_df["Age"], age_bins, labels=group_names)
aged_group_df

#Creating a group based off of the bins
aged_group_df = aged_group_df.groupby("Age Summary")
aged_group_df.count()

#Start new dataframe
summary_age_df = pd.DataFrame(aged_group_df.count())
summary_age_df 

#Calculations performed on "Purchase Id"" column of summary df
summary_age_df["Purchase ID"] = (summary_age_df["Purchase ID"]/player_count)*100
summary_age_df 

#Reduce number of columns to "Age Summary", "Purcahe ID", format percentages and write into org Data Frame
organized_age_df = summary_age_df[["Purchase ID","SN"]]
organized_age_df

#Rename the columns for the final age dempgraphic df using .rename(columns={})
final_age = organized_age_df.rename(columns={"Purchase ID":"Percentage of Players", "SN":"Total Count"})
final_age

             Percentage of Players  Total Count
Age Summary
<11                       2.948718           23
10-15                     3.589744           28
15-20                    17.435897          136
20-25                    46.794872          365
25-30                    12.948718          101
30-35                     9.358974           73
35-40                     5.256410           41
40+                       1.666667           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
#Data sorted by age new dataframe
age_check = pd.DataFrame(summary_age_df["Purchase ID"])
age_check

#Get Total purchase value by age
age_total_purchase = summary_age_df["Price"].sum()
age_total_purchase
organized_age_total = age_total_purchase.map("${:,.2f}".format)
organized_age_total

#Get Average purchase price by age
avg_purchase_price_age = summary_age_df["Price"].mean()
avg_purchase_price_age
avg_price_age = avg_purchase_price_age.map("${:,.2f}".format)
avg_price_age

#Get totals by age, total purchase value divided by purchase count by age
totals_age = age_total_purchase/summary_age_df["Purchase ID"].count()
totals_age_df = totals_age.map("${:,.2f}".format)
totals_age_df

#Organize summary gender data, get all columns to organized Data Frame, add needed columns to it
age_check["Average Purchase Price"] = avg_price_age  
age_check["Total Purchase Value"] = organized_age_total 
age_check["Normalized Totals"] = totals_age_df 
age_check

#Summary purchasing analysis DF grouped by age, rename "Purchase ID" column, using .rename(columns={})summary_gender_purchased_data_df = org_gender_purchased_data_df.rename(columns={"Purchase ID":"Purchase Count"})
summarized_age = age_check.rename(columns={"Purchase ID":"Purchase Count"})
summarized_age

AttributeError: 'numpy.int64' object has no attribute 'map'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
#Original purchase data grouped by player("SN") 
original_purchase_data = pd.DataFrame(purchase_data)
original_purchase_data.head()

# Group by Spendors ( "SN" )
spendors_group = original_purchase_data.groupby("SN")
spendors_group.count()

# Let's work with data sorted by SN new dataframe
spendor_df = pd.DataFrame(spendors_group["Purchase ID"].count())
spendor_df

# Get Total purchase value by SN
total_purchase_value_SN = spendors_group["Price"].sum()
total_purchase_value_SN

# Get Average purchase price by SN
SN_Purchase_price = spendors_group["Price"].mean()
SN_Purchase_price
SN_average = SN_Purchase_price.map("${:,.2f}".format)
SN_average

# Organize summary Top Spender data, get all columns to organized Data Frame, add needed columns to it
spendor_df["Average Purchase Price"] = SN_average
spendor_df["Total Purchase Value"] = total_purchase_value_SN 
spendor_df

# Summary Top Spendor analysis grouped by SN, rename "Purchase ID" column, using .rename(columns={})
SUM_of_Data = spendor_df.rename(columns={"Purchase ID":"Purchase Count"})
most_spent=SUM_of_Data.sort_values("Total Purchase Value", ascending=False)
most_spent.head()

# Format Total Purchase Price to be in dollar form
total_purchase_value = total_purchase_value_SN.map("${:,.2f}".format)
most_spent["Total Purchase Value"] = total_purchase_value
most_spent.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
# Group by Item ("Item ID" and "Item Name")
top_item_df = original_purchase_data.groupby(["Item ID", "Item Name"])
top_item_df.count()

organized_items = pd.DataFrame(top_item_df["Purchase ID"].count())
organized_items

# Get Total purchase value by Item
total_value_purchase_itrm = top_item_df["Price"].sum()
total_value_purchase_itrm
total_value_purchase1 = total_value_purchase_itrm.map("${:,.2f}".format)
total_value_purchase1

# Get purchase price by Item
purchase_price_by_item = top_item_df["Price"].mean()
purchase_price_by_item
avg_purchase_price_by_item = purchase_price_by_item.map("${:,.2f}".format)
avg_purchase_price_by_item

# Organize summary Item data, get all columns to organized Data Frame, add needed columns to it
organized_items["Item Price"] = avg_purchase_price_by_item
organized_items["Total Purchase Value"] = total_value_purchase1
organized_items

# Summary Most Popular Item analysis grouped by Item, rename "Purchase ID" column, using .rename(columns={})
summarized_items = organized_items.rename(columns={"Purchase ID":"Purchase Count"})
top_items_df=summarized_items.sort_values("Purchase Count", ascending=False)
top_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [23]:
# Alter analysis by Item_df to have total purchase price column in numeric form to be able to sort it numerically
summarized_items["Total Purchase Value"] = top_item_df["Price"].sum()
summarized_items

#Summarizes Most Popular Item analysis grouped by Item, rename "Purchase ID" column, using .rename(columns={})
top_items_df=summarized_items.sort_values("Total Purchase Value", ascending=False)
top_items_df.head(10)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
103,Singed Scalpel,8,$4.35,34.80
59,"Lightning, Etcher of the King",8,$4.23,33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77
78,"Glimmer, Ender of the Moon",7,$4.40,30.80
72,Winter's Bite,8,$3.77,30.16
132,Persuasion,9,$3.22,28.99